body {
  margin: 0px;
  padding-top: 80px;
  background-color: var(--primbg-secondbtn-logofooter-address-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}
